[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
bumpversion = "*"
notebook = "*"
pylint = "*"
pytest = "*"
pytest-sugar = "*"
matplotlib = "*"
plotly = "*"
ipywidgets = "*"
car-cost-calculator = {path = "."}

[requires]
python_version = "3.6"
